footer {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    justify-content: center;
    width: 100%;
}

div {
    display: flex;
    flex-direction: column;
}

div p {
    text-align: center;
    font-size: 20px;
}